# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/cogs/__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# pyenv
.python-version

# mypy
.mypy_cache/

# Visual Studio Code settings directory
.vscode/

# Private Configuration File
config.json